RHOST_ENDPOINT=http://%2322222umicupcake@127.0.0.1:2061/
MYSQL_HOST=127.0.0.1
MYSQL_USER=rooty
MYSQL_PASS=tooty
MYSQL_DB=fruity

# Keystone CMS
KEYSTONE_SESSION_SECRET=your-secret-key-change-this-in-production
POSTGRES_DB=convergence_web
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

